<form action="user/create" method="post">
    제목 <input type="text" name="title"><br>
    본문 <input textera name="contents" placeholder="본문"></textera><br>
    <input type="submit" value="등록하기">
</form>