<h2>회원가입</h2>
<form action="/user/create" method="post">
    ID <input type="text" name="id"><br>
    PW <input type="password" name="passwd"><br>
    PW 재확인 <input type="password" name="passwd_confirmation"><br>
    <input type="submit" value="회원가입">
</form>